* {
  font-family: Roboto
}

.container {
  margin-top: 20px;
}

.main-title {
  text-align: center;
  font-size: x-large;
}

.contact-info {
  text-align: center;
}

.header {
  font-size: large;
  text-decoration: underline;
  margin-bottom: 5px;
}

.job-info {
  margin-bottom: 5px;
}

.job-title {
  font-size: large;
  margin-bottom: -3px;
}
